{
    "alt-speed-down": 50,
    "alt-speed-enabled": false,
    "alt-speed-time-begin": 540,
    "alt-speed-time-day": 127,
    "alt-speed-time-enabled": false,
    "alt-speed-time-end": 1020,
    "alt-speed-up": 50,
    "bind-address-ipv4": "0.0.0.0",
    "bind-address-ipv6": "::",
    "blocklist-enabled": false,
    "dht-enabled": true,
    "download-dir": "<%= node['transmission']['download_dir'] %>",
    "download-limit": 100,
    "download-limit-enabled": 0,
    "encryption": 1,
    "incomplete-dir": "<%= node['transmission']['incomplete_dir'] %>",
    "incomplete-dir-enabled": <%= node['transmission']['incomplete_dir_enabled'] %>,
    "lazy-bitfield-enabled": true,
    "max-peers-global": 200,
    "message-level": 2,
    "open-file-limit": 32,
    "peer-limit-global": 240,
    "peer-limit-per-torrent": 60,
    "peer-port": <%= node['transmission']['peer_port'] %>,
    "peer-port-random-high": 65535,
    "peer-port-random-low": 49152,
    "peer-port-random-on-start": false,
    "peer-socket-tos": 0,
    "pex-enabled": true,
    "port-forwarding-enabled": false,
    "preallocation": 1,
    "proxy": "",
    "proxy-auth-enabled": false,
    "proxy-auth-password": "",
    "proxy-auth-username": "",
    "proxy-enabled": false,
    "proxy-port": 80,
    "proxy-type": 0,
    "ratio-limit": "<%= node['transmission']['ratio-limit'] %>",
    "ratio-limit-enabled": "<%= node['transmission']['ratio-limit-enabled'] %>",
    "rename-partial-files": true,
    "rpc-authentication-required": true,
    "rpc-bind-address": "<%= node['transmission']['rpc_bind_address'] %>",
    "rpc-enabled": true,
    "rpc-password": "<%= node['transmission']['rpc_password'] %>",
    "rpc-port": <%= node['transmission']['rpc_port'] %>,
    "rpc-username": "<%= node['transmission']['rpc_username'] %>",
    "rpc-whitelist": "127.0.0.1",
    "rpc-whitelist-enabled": <%= node['transmission']['rpc-whitelist-enabled'] %>,
    "speed-limit-down": <%= node['transmission']['speed_limit_down'] %>,
    "speed-limit-down-enabled": <%= node['transmission']['speed_limit_down_enabled'] %>,
    "speed-limit-up": <%= node['transmission']['speed_limit_up'] %>,
    "speed-limit-up-enabled": <%= node['transmission']['speed_limit_up_enabled'] %>,
    "umask": 18,
    "upload-limit": 100,
    "upload-limit-enabled": 0,
    "upload-slots-per-torrent": 14,
    "watch-dir": "<%= node['transmission']['watch_dir'] %>",
    "watch-dir-enabled": <%= node['transmission']['watch_dir_enabled'] %>
}
